Distributed_election-master/DistributedElectionServer/Server_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://server/" xmlns:tns="http://server/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="arrancaProcesos" type="tns:arrancaProcesos"/>

  <xs:element name="arrancaProcesosResponse" type="tns:arrancaProcesosResponse"/>

  <xs:complexType name="arrancaProcesos">
    <xs:sequence>
      <xs:element name="arrancaProcesos" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="arrancaProcesosResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

