Distributed_election-master/DistributedElectionServer/web/WEB-INF/wsdl/localhost_8080/DistributedElectionServer/Server.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://server/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://server/">

<xs:element name="arrancaProceso" type="tns:arrancaProceso"/>

<xs:element name="arrancaProcesoResponse" type="tns:arrancaProcesoResponse"/>

<xs:element name="computar" type="tns:computar"/>

<xs:element name="computarResponse" type="tns:computarResponse"/>

<xs:element name="eleccion" type="tns:eleccion"/>

<xs:element name="eleccionResponse" type="tns:eleccionResponse"/>

<xs:element name="pararProceso" type="tns:pararProceso"/>

<xs:element name="pararProcesoResponse" type="tns:pararProcesoResponse"/>

<xs:complexType name="arrancaProceso">
<xs:sequence>
<xs:element name="idProceso" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="arrancaProcesoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eleccion">
<xs:sequence>
<xs:element name="idProceso" type="xs:int"/>
<xs:element name="idCandidato" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eleccionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="computar">
<xs:sequence>
<xs:element name="idProceso" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="computarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pararProceso">
<xs:sequence>
<xs:element name="idProceso" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pararProcesoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>